body{
    text-align: center;
}

.back {
  font: bold 1em Arial;
  padding:.2em;
  margin: .2em;
}

.button {
  font: bold 2em Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 1em;
  margin: 1em;
}
